{% extends "todolist/base.html" %}

{% load static %}

{% block css %}{% static 'todolist/css/home.css' %}{% endblock css %}

{% block 标题 %}你的个人待办清单{% endblock 标题 %}
{% block 主页高亮 %}active{% endblock 主页高亮 %}
{% block 主体 %}
<br><!--这个删掉会乱码-->
    {% if 警告 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>警告!</strong> {{ 警告 }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% if 信息 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>提示!</strong> {{ 信息 }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>序号</th>
        <th>待办事项</th>
          <th>计时</th>
        <th>编辑</th>
        <th>划掉</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody class="no-underline">
        {% for 每一件事 in 清单 %}
            {% ifequal user 每一件事.用户 %}
            {% if 每一件事.done %}
                <tr class="table-dark">
                    <th class="text-dark" scope="row">{{ forloop.counter }}</th>
                    <td class="text-dark" id="line-through">{{ 每一件事.thing }}</td>
                    <td class="text-secondary">不可编辑</td>
                    <td>
                        <form method="POST" action="{% url 'todolist:划掉' 每一件事.id %}">
                            {% csrf_token %}
                            <input name="完成状态" type="hidden" value="末完成">
                            <button type="submit" class="btn btn-primary btn-sm">撒消</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'todolist:删除' 每一件事.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">删除</button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ 每一件事.thing }}</td>
                    <td><!------------------------计时---------------->
                        <form method="POST" action="{% url 'todolist:计时' 每一件事.id %}">
                            {% csrf_token %}
                            <div id="div1">
                            <span id="span1">00</span> :
                            <span id="span2">00</span> :
                            <span id="span3">00</span> :
                            <span id="span4">00</span>
                            <input id="input3" name="计时状态" type="hidden" value="计时结果">
                            <input id="input1" type="button" value="开始" onclick="whenClick();">
                            <input id="input2" type="button" value="清空" onclick="clear1();">
                                <input id="input4" type="submit" value="提交" onclick="TJClick();">
                            </div>
                         </form>
                    </td>
                    <td><a class="text-info" href="{% url 'todolist:编辑' 每一件事.id %}">编辑</a></td>
                    <!--<a href="{% url 'todolist:编辑' forloop.counter %}">
                        <button type="submit" class="btn btn-primary btn-sm ">编辑</button>
                        </a>-->
                    <td>
                        <form method="POST" action="{% url 'todolist:划掉' 每一件事.id %}">
                            {% csrf_token %}
                            <input name="完成状态" type="hidden" value="已完成">
                            <button type="submit" class="btn btn-primary btn-sm">划掉</button>
                        </form>
                    </td>
                    <td>




                        <!-- Button trigger modal -->
                         <button data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" type="button" class="btn btn-primary btn-sm">删除</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{forloop.counter}}Label" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModal{{forloop.counter}}Label">请确认</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                确定要删除 <strong>未办事项 {{ 每一件事.thing }}</strong>吗?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                  <form method="POST" action="{% url 'todolist:删除' 每一件事.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">确定</button>
                                  </form>
                              </div>
                            </div>
                          </div>
                        </div>



                    </td>
                </tr>
            {% endif %}
            {% endifequal %}
        {% endfor %}


      <!--<tr>
        <th scope="row">2</th>
        <td>看一会小说</td>
        <td><a class="text-info" href="#">编辑</a></td>
        <td><a class="text-info" href="#">划掉</a></td>
        <td><a class="text-info" href="#">删除</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>散散步</td>
        <td><a class="text-info" href="#">编辑</a></td>
        <td><a class="text-info" href="#">划掉</a></td>
        <td><a class="text-info" href="#">删除</a></td>
      </tr>
      <tr class="table-dark">
        <th class="text-dark" scope="row">4</th>
        <td class="text-dark" id="line-through">去超市</td>
        <td class="text-secondary">不可编辑</td>
        <td><a class="text-info" href="#">撤销</a></td>
        <td><a class="text-danger" href="#">删除</a></td>
      </tr>-->
    </tbody>
  </table>

</div>




    <script  type="text/javascript">
            var milliSeconds1 = document.getElementById("span4");
            var seconds1 = document.getElementById("span3");
            var minutes1 = document.getElementById("span2");
            var hours1 = document.getElementById("span1");
            var time=0;
            var pre_time=0;
            var intervals=0;
            var pre_intervals=0;
            var flag;


            function TJClick(){//  提交
                var inputValue3 = document.getElementById("input3");//new


                date = new Date();
                intervals=date.getTime()-time+pre_intervals;
                var a=intervals%1000/10;
                var b=intervals%60000/1000;
                var c=intervals%3600000/60000;
                var d=intervals/3600000;
                inputValue3.value=intervals;//new
                }


            function whenClick(){//  开始/暂停
                var inputValue = document.getElementById("input1");

                if(inputValue.value=="开始"||inputValue.value=="继续"){
                    var date= new Date();
                    time = date.getTime();
                    pre_time=time;
                    inputValue.value="停止";

                    start1();
                }
                else {
                    inputValue.value="继续";
                    stop1();
                }
            }

            function clear1(){//  清零
                stop1();
                milliSeconds1.innerHTML = seconds1.innerHTML =minutes1.innerHTML = hours1.innerHTML = "00";
                time=0;
                pre_time=0;
                intervals=0;
                pre_intervals=0;
                document.getElementById("input1").value = "开始";
            }

            function start1(){//  开始/继续
                flag = setInterval("timeIncrement();",10);
            }

            function timeIncrement(){
                date = new Date();
                intervals=date.getTime()-time+pre_intervals;
                var a=intervals%1000/10;
                var b=intervals%60000/1000;
                var c=intervals%3600000/60000;
                var d=intervals/3600000;
                milliSeconds1.innerHTML=(a<10)?('0'+Math.floor(a)):(Math.floor(a));
                seconds1.innerHTML=(b<10)?('0'+Math.floor(b)):(Math.floor(b));
                minutes1.innerHTML=(c<10)?('0'+Math.floor(c)):(Math.floor(c));
                hours1.innerHTML=(d<10)?('0'+Math.floor(d)):(Math.floor(d));
            }

            function stop1(){//  暂停/停止
                date = new Date();
                pre_intervals += date.getTime()-pre_time;
                clearInterval(flag);
            }

        </script>



{% endblock 主体 %}
